<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="logintest">
    <classes>
      <class name="com.App.TestCases.AppLoginTestCase"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test  name="weblinkstest">
    <classes>
      <class name="com.App.TestCases.verifyWebLinks"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
